openapi: 3.2.0
info:
  title: Upsie Partner Network Repair Items (/repairitems) API
  version: 1.0.0
  description: Welcome to the Upsie Partner API!
  contact:
    email: dev@upsie.com
servers:
- url: https://api.upsie.com
  description: Production
- url: https://stage-api.upsie.com
  description: Sandbox / stage
tags:
- name: Repair Items (/repairitems)
paths:
  /partner/repairitems:
    get:
      operationId: listRepairItems
      summary: Get All Repair Items
      tags:
      - Repair Items (/repairitems)
      responses:
        '200':
          description: Successful response (no example published in the collection)
      security:
      - jwtToken: []
      x-postman-request-names:
      - Get All Repair Items
    post:
      operationId: createRepairItem
      summary: Create A Repair Item
      tags:
      - Repair Items (/repairitems)
      requestBody:
        content:
          application/json:
            examples:
              Create-A-Repair-Item:
                summary: Create A Repair Item
                value:
                  repairId: 5
                  repairItemTemplateId: 4
      responses:
        '200':
          description: Successful response (no example published in the collection)
      security:
      - jwtToken: []
      x-postman-request-names:
      - Create A Repair Item
components:
  securitySchemes:
    jwtToken:
      type: apiKey
      in: header
      name: token
      description: JWT passed in a `token` header with each request. Access tokens expire after 30 days, refresh tokens after 60 days; partner-scoped API access tokens have a 10 year expiration and are generated / invalidated via the Upsie Partner Portal.
externalDocs:
  description: Official Postman documentation (api.upsie.com/docs redirects here)
  url: https://documenter.getpostman.com/view/16328390/2s8ZDeUykK
x-generated: '2026-07-21'
x-method: derived
x-source: https://documenter.getpostman.com/view/16328390/2s8ZDeUykK (Upsie Partner Network API Postman collection, fetched 2026-07-21)
