openapi: 3.2.0
info:
  title: Upsie Partner Network Authorization API
  version: 1.0.0
  description: Welcome to the Upsie Partner API!
  contact:
    email: dev@upsie.com
servers:
- url: https://api.upsie.com
  description: Production
- url: https://stage-api.upsie.com
  description: Sandbox / stage
tags:
- name: Authorization
paths:
  /partner/auth/login:
    post:
      operationId: partnerLogin
      summary: Partner User Login
      tags:
      - Authorization
      requestBody:
        content:
          application/json:
            examples:
              Partner-User-Login:
                summary: Partner User Login
                value: "{\n    \"username\": {{username}},\n    \"password\": {{password}}\n}"
      responses:
        '200':
          description: Successful response (no example published in the collection)
      x-postman-request-names:
      - Partner User Login
  /partner/auth/apiaccess:
    post:
      operationId: generateApiAccessToken
      summary: Generate Api Access Token
      tags:
      - Authorization
      description: This endpoint will grant access to the tools available on the Upsie Partner Network API. In order to generate an API token you will need the token (in the request headers as token ) from the initial login and an account that is properly associated with a repair source (your organization). This association is made at account creation or can be requested later for additional accounts.
      responses:
        '200':
          description: Successful response (no example published in the collection)
      security:
      - jwtToken: []
      x-postman-request-names:
      - Generate Api Access Token
  /partner/auth/apirefresh:
    post:
      operationId: generateApiRefreshToken
      summary: Generate Api Refresh Token
      tags:
      - Authorization
      description: This endpoint is used to generate a new pair of tokens (access and refresh) upon access token expiration. The Upsie Partner Network API will expect the most recent repair api refresh token in the headers as token .
      responses:
        '200':
          description: Successful response (no example published in the collection)
      security:
      - jwtToken: []
      x-postman-request-names:
      - Generate Api Refresh Token
  /partner/auth/invalidateapitokens:
    post:
      operationId: invalidateApiTokens
      summary: Invalidate Partner Api Tokens
      tags:
      - Authorization
      description: This endpoint will grant access to the tools available on the Upsie Partner Network API. In order to generate an API token you will need the token (in the request headers as token ) from the initial login and an account that is properly associated with a repair source (your organization). This association is made at account creation or can be requested later for additional accounts.
      responses:
        '200':
          description: Successful response (no example published in the collection)
      security:
      - jwtToken: []
      x-postman-request-names:
      - Invalidate Partner Api Tokens
  /partner/auth/whoami:
    get:
      operationId: whoAmI
      summary: who am i
      tags:
      - Authorization
      responses:
        '200':
          description: Successful response (no example published in the collection)
      security:
      - jwtToken: []
      x-postman-request-names:
      - who am i
components:
  securitySchemes:
    jwtToken:
      type: apiKey
      in: header
      name: token
      description: JWT passed in a `token` header with each request. Access tokens expire after 30 days, refresh tokens after 60 days; partner-scoped API access tokens have a 10 year expiration and are generated / invalidated via the Upsie Partner Portal.
externalDocs:
  description: Official Postman documentation (api.upsie.com/docs redirects here)
  url: https://documenter.getpostman.com/view/16328390/2s8ZDeUykK
x-generated: '2026-07-21'
x-method: derived
x-source: https://documenter.getpostman.com/view/16328390/2s8ZDeUykK (Upsie Partner Network API Postman collection, fetched 2026-07-21)
