openapi: 3.2.0
info:
  title: Upsie Partner Network Repair Notes API
  version: 1.0.0
  description: Welcome to the Upsie Partner API!
  contact:
    email: dev@upsie.com
servers:
- url: https://api.upsie.com
  description: Production
- url: https://stage-api.upsie.com
  description: Sandbox / stage
tags:
- name: Repair Notes
paths:
  /partner/repairnotes:
    get:
      operationId: listRepairNotes
      summary: Get All Repair Notes
      tags:
      - Repair Notes
      responses:
        '200':
          description: Successful response (no example published in the collection)
      security:
      - jwtToken: []
      x-postman-request-names:
      - Get All Repair Notes
    post:
      operationId: createRepairNote
      summary: Create Repair Note
      tags:
      - Repair Notes
      requestBody:
        content:
          application/json:
            examples:
              Create-Repair-Note:
                summary: Create Repair Note
                value:
                  repairId: 14
                  message: last one
                  alertCustomer: false
                  alertRepairPartner: false
                  alertRepairSource: false
                  alertInteral: false
      responses:
        '200':
          description: Successful response (no example published in the collection)
      security:
      - jwtToken: []
      x-postman-request-names:
      - Create Repair Note
components:
  securitySchemes:
    jwtToken:
      type: apiKey
      in: header
      name: token
      description: JWT passed in a `token` header with each request. Access tokens expire after 30 days, refresh tokens after 60 days; partner-scoped API access tokens have a 10 year expiration and are generated / invalidated via the Upsie Partner Portal.
externalDocs:
  description: Official Postman documentation (api.upsie.com/docs redirects here)
  url: https://documenter.getpostman.com/view/16328390/2s8ZDeUykK
x-generated: '2026-07-21'
x-method: derived
x-source: https://documenter.getpostman.com/view/16328390/2s8ZDeUykK (Upsie Partner Network API Postman collection, fetched 2026-07-21)
