openapi: 3.2.0
info:
  title: Upsie Partner Network Webhooks API
  version: 1.0.0
  description: Welcome to the Upsie Partner API!
  contact:
    email: dev@upsie.com
servers:
- url: https://api.upsie.com
  description: Production
- url: https://stage-api.upsie.com
  description: Sandbox / stage
tags:
- name: Webhooks
paths:
  /partner/partnerorganizationwebhooks:
    get:
      operationId: listWebhooks
      summary: get all webhooks
      tags:
      - Webhooks
      description: Get all webhooks
      responses:
        '200':
          description: Successful response (no example published in the collection)
      security:
      - jwtToken: []
      x-postman-request-names:
      - get all webhooks
    post:
      operationId: createWebhook
      summary: create webhook
      tags:
      - Webhooks
      description: 'Create a webhook. url | string : The url that webhook data should be sent to. meta | jsonb : The meta object is a flexible object that can accept any data you would like to attach to the webhook. Some feilds are required. Attribute Type events (required) string [] - an array of the events that the given webhook is subscribed to. isActive | boolean : A flag to activate or deactivate a webhook. description | string (optional): A short explantion of the webhook. Events Name Description repair.updated.repairStatus This event fires when the status of a repair is updated. The statuses include DRAFT, SUBMITTED, ASSIGNED, READY_TO_START, IN_PROGRESS, PENDING_REVIEW, BER, UNFIXABLE, COMPLETE, CLOSED, CANCELLED, ESCALATED. See the repair section of these docs for an explantion of each status.'
      requestBody:
        content:
          application/json:
            examples:
              create-webhook:
                summary: create webhook
                value:
                  url: https://www.url.com/webhooks
                  meta:
                    events:
                    - repair_status_updated
                  description: descripition
      responses:
        '200':
          description: Successful response (no example published in the collection)
      security:
      - jwtToken: []
      x-postman-request-names:
      - create webhook
  /partner/partnerorganizationwebhooks/{id}:
    get:
      operationId: getWebhook
      summary: get a webhook
      tags:
      - Webhooks
      description: Get a singular webhook by id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Resource id
      responses:
        '200':
          description: Successful response (no example published in the collection)
      security:
      - jwtToken: []
      x-postman-request-names:
      - get a webhook
    put:
      operationId: updateWebhook
      summary: update webhook
      tags:
      - Webhooks
      description: 'This endpoint will return the updated webhook. The properties that may be updated are explained in detail in the POST create a webhook documentation above. Those properties are: url, isActive, meta and description.'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Resource id
      requestBody:
        content:
          application/json:
            examples:
              update-webhook:
                summary: update webhook
                value:
                  url: www.url.com/testwebhooks
      responses:
        '200':
          description: Successful response (no example published in the collection)
      security:
      - jwtToken: []
      x-postman-request-names:
      - update webhook
    delete:
      operationId: deleteWebhook
      summary: delete a webhook
      tags:
      - Webhooks
      description: The webhooks DELETE endpoint will remove a webhook record from the database. It is a hard delete, no record of url, meta, etc will remain after making this request.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Resource id
      responses:
        '200':
          description: Successful response (no example published in the collection)
      security:
      - jwtToken: []
      x-postman-request-names:
      - delete a webhook
components:
  securitySchemes:
    jwtToken:
      type: apiKey
      in: header
      name: token
      description: JWT passed in a `token` header with each request. Access tokens expire after 30 days, refresh tokens after 60 days; partner-scoped API access tokens have a 10 year expiration and are generated / invalidated via the Upsie Partner Portal.
externalDocs:
  description: Official Postman documentation (api.upsie.com/docs redirects here)
  url: https://documenter.getpostman.com/view/16328390/2s8ZDeUykK
x-generated: '2026-07-21'
x-method: derived
x-source: https://documenter.getpostman.com/view/16328390/2s8ZDeUykK (Upsie Partner Network API Postman collection, fetched 2026-07-21)
